@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
    <dt>
        @Html.DisplayNameFor(model => model.A_Paterno)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.A_Materno)
    </dd>
</body>
</html>
